<h3>Post a Comment</h3>
<%= form_for [ @article, @comment ] do |f| %>
  <p>
    <%= f.label :author_name, "Your Name" %><br />
    <%= f.text_field :author_name, class: "form-control" %>
  </p>
  <p>
    <%= f.label :body, "Your Comment" %><br />
    <%= f.text_area :body, class: "form-control"  %>
  </p>
  <p>
  <%= f.submit "Submit Comment", class:"btn btn-success" %>
  </p>
<% end %>
